.heading {
  display: block;
  color: red;
  padding: 30px;
  background-color: aqua;
  outline: 2px dashed red;
}

p {
  outline: 2px dashed red;
}

#min-paragraf {
  color: blue;
  background-color: red;
  width: 100px;
}

.min-div {
  display: inline-block;
  margin-top: 130px;
}
